$pixel-unit: var(--pixel-unit) !default;

$color-background-normal: var(--color-background-normal) !default;
$color-background-dark: var(--color-background-dark) !default;
$color-background-darkest: var(--color-background-darkest) !default;
$color-font-strong: var(--color-font-strong) !default;
$color-font-normal: var(--color-font-normal) !default;
$color-font-disabled: var(--color-font-disabled) !default;
$color-font-black-strong: var(--color-font-black-strong) !default;
$color-font-black-normal: var(--color-font-black-normal) !default;
$color-font-black-disabled: var(--color-font-black-disabled) !default;
