$pixel-unit: 4px !default;
$aside-width: 64px !default;

$color-focus: tomato !default;

$font-size-xs: 0.75rem !default;
$font-size-s: 1rem !default;
$font-size-m: 1.5rem !default;
$font-size-l: 2rem !default;
$font-size-xl: 3rem !default;
